<h2 class="page-header">
    Search for an Author
</h2>
<form class="author-form" action="/authors" method="GET">
        <input value="<%= searchOptions.name %>" type="search" name="name" placeholder="Search for an author">
        <button class="btn btn-primary" type="submit">Search</button>
</form>
<br>
<% authors.map(author => {%>
    <div class="author-container">
        <div><%= author.name %></div>
        <div class="author-btn">
            <a href="/authors/<%= author._id%>" class="btn btn-primary">View</a>
            <a href="/authors/<%= author._id %>/edit" class="btn btn-primary">Edit</a>
            <!--include form btn-->
            <%- include('../partials/deleteForm', {url: '/authors/' + author._id}) %>
        </div>
    </div>
<% })%>